.image {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically (if the container has height) */
}

.but {
    display: block;
    margin: 2px auto; /* Centers the button horizontally and adds some vertical spacing */
    padding: 2px 20px;
    font-size: 16px;
    background-color: #363636; /* Blue background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.prs {
    text-align: center; /* Centers the text horizontally */
    font-size: 24px;
    color: #363636; /* Blue color */
    margin-top: 10px; /* Adds some space above the price */
}