.box {
    background-color: red;
    border-radius: 5px;
    animation: ola 0.5s infinite;
    position: relative;
    position: fixed;
    width: 100px;
    height: 100px;
}

@keyframes ola {
    0% {
        background-color: red;
        left: 300px;
        bottom: 300px;
        border-radius: 0px;
    }
    25% {
        background-color: blue;
        left: 0px;
        bottom: 300px;
        height: 200px;
        border-radius: 0px;
    }    
    50% {
        background-color: green;
        left: 0px;
        bottom: 0px;
        height: 100px;
    }
    75% {
        background-color: yellow;
        left: 300px;
        bottom: 0px;
        border-radius: 50%;
    }
    100% {
        background-color: red;
        left: 300px;
        bottom: 300px;
        border-radius: 0px;
    }
}
